<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="プロコン部チーム_0622_TEST.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<userSettings>
		<プロコン部チーム_0622_TEST.Properties.Settings>
   <setting name="folderpath" serializeAs="String">
    <value />
   </setting>
   <setting name="raw_movie_filepath" serializeAs="String">
    <value />
   </setting>
   <setting name="cut_start_time" serializeAs="String">
    <value>00:00:00</value>
   </setting>
   <setting name="cut_end_time" serializeAs="String">
    <value>00:00:00</value>
   </setting>
   <setting name="recordtime" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="set_output_device" serializeAs="String">
    <value />
   </setting>
   <setting name="cut_folderpath" serializeAs="String">
    <value />
   </setting>
  </プロコン部チーム_0622_TEST.Properties.Settings>
	</userSettings>
</configuration>